@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root{
    height: 100vh;
  --background: 0 0% 100%;
  --foreground: 220 20% 20%;
  --primary: 240 100% 50%;
  --secondary: 120 50% 40%;
  --card: 0 0% 95%;
  --radius: 0.5rem;
  --chart-1: 220 90% 56%;
  --chart-2: 340 82% 52%;
  --chart-3: 50 85% 58%;
  --chart-4: 260 72% 46%;
  --chart-5: 180 76% 60%;
}
